
/* HEADER */

body{
    text-align: center;
    flex-wrap: wrap;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
}

#espaco{
    width: 200px;
    height: 200px;
    padding: 80px;
    text-align: center;
}
#logo{
    width: 170px;
    
}
header{
    color: rgb(0, 0, 0);
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    height: 180px;
}



/* CAIXA DE BUSCA */

#botao-busca{
    background-color: #CCF2FF;
    color: rgb(0, 0, 0);
    border: none;
    border-radius: 4px;
    padding: 8px 15px;
    margin-left: 10px;
    cursor: pointer;
}
#caixa-busca{
    width: 500px;
    padding: 8px;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 4px;

}

#login{
    color: white;
    margin-left: 10px;
    font-size: 45px;
}

/* MENU LATERAL*/

nav.menu-lateral{
    width: 130px;
    height: 100%;
    background-color: black;
    padding: 20px 0 20px 2%;
    box-shadow: 3px 0 0 #CCF2FF;

    position: fixed;
    top: 0;
    left: 0;
    overflow: hidden;
    transition: 1s
}

nav.menu-lateral:hover{
    width: 300px;

} 

.btn-expandir{
    width: 100%;
    padding-left: 0px;
}

.btn-expandir > i{
    color: white;
    font-size: 50px;
    cursor: pointer;
}


ul{
    height: 100%;
    list-style-type: none;
}

ul li.item-menu a{
    text-decoration: none;
    padding: 20px 4%;
    font-size: 20px;
    color: white;
    display: flex;
    margin-bottom: 20px;
    line-height: 40px;
}

ul li.item-menu a .icon > i{
    font-size: 30px;
    margin-right: 20px;
}

ul li.item-menu:hover{
    background-color: #CCF2FF;
}
ul li.item-menu{
    transition: 1s;
}

ul li.ativo{
    background-color: #CCF2FF;
}

ul li.item-menu a .txt-link{
    margin-left: 10px;
    margin-right: 5px;
}


.txt-link{
    color: white;
    text-decoration: none;
    font-size: 20px;
    padding: 20px 4%;
    display: flex;
    margin-bottom: 20px;
    line-height: 40px;
} 


/* MAIN */
.texto{
    text-align: center;
    font-size: 18px;
}

#perso{
    padding: 15px;
    margin-bottom: 50px;
    
  
}

#perso1{
    padding: 15px;
    margin-bottom: 10px;
    margin-left: 60px;
  
}

#centro{
    display: flex;
    text-align: center;
    justify-content: center;
    flex-wrap: wrap;
    margin: 80px;
}

img{
    width: 200px;
    border-radius: 10px;
    transition: 1s;
    filter: scale(0%);
    transform: translateX(0) scale(1);
}
img:hover {
    filter: scale(100%);
    transition: 0,5s;
    transform: translateX(10px) scale(1.1);
}

/* rodape */
footer {
    bottom: 0;
    background-color: rgb(0, 0, 0);
    width: 100%;
    text-align: center;
    margin-top: 210px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}
.rodape1{
    text-align: left;
    color: white;
    
}
#a{
    color: white;
    text-decoration: none;

}

#a:hover{
    color: #CCF2FF;

}
.rodape2{
    text-align: center;
    width: 155px;
    
}
.classe{
    display: flex;
    justify-content: center;

}

/*CONTEUDO PÃGINA*/ 

@media (max-width: 480px) {
  

    #conteudo-pagina{
        margin-left: 100px;
    
    }

    #caixa-busca{
        width: 100px;
    }

    #botao-busca{
        padding: 8px 5px;
    }

    .btn-expandir > i{
        color: white;
        font-size: 30px;
        cursor: pointer;
    }

    ul li.item-menu a .icon > i{
        font-size: 30px;
        margin-right: 20px;
    }
    
    ul li.item-menu a{
        padding: 10px 8%;
        font-size: 6px;
        line-height: 20px;
    }

    nav.menu-lateral:hover{
        width: 250px;
    
    } 

    nav.menu-lateral{
        width: 100px;
    }

    .caixa{
        margin-left: 5px;
       
    
        
    }

    header{
        height: 260px;
    }

    #login{
        font-size: 35px;
    }

    footer{
        margin-left: 97px;
    }
    
    .classe{
        flex-direction: row-reverse;
        flex-wrap: nowrap;
    }

  }